{% extends "layout.html" %}


{% block title %}Profile{% endblock %}
{% block content %}
<h2>Profile Page</h2>
<div style='margin-left: 100px; width: 45%;'>

        {% for aresult in aresults %}

        <form action = "profile" method = "POST">
         <p>First Name: <input class="form-control" type = "text" name = "first_name" style='width: 100%;' value='{{aresult["first_name"]}}'/></p>
         <p>Last Name: <input class="form-control" type = "text" name = "last_name" style='width: 100%;' value='{{aresult["last_name"]}}' /></p>
         <p>School: <input class="form-control" type = "text" name = "school" style='width: 100%;' value='{{aresult["school"]}}' /></p>
         <p>Degree: <input class="form-control" type = "text" name = "degree" style='width: 100%;' value='{{aresult["degree"]}}' /></p>
         <p>Field: <input class="form-control" type ="text" name = "field" style='width: 100%;' value='{{aresult["field"]}}' /></p>
         <p>Year: <input class="form-control" type ="text" name = "year" style='width: 100%;' value='{{aresult["year"]}}' /></p>
         <p>Current Employer: <input class="form-control" type ="text" name = "current_employer" style='width: 100%;' value='{{aresult["current_employer"]}}' /></p>
         <p>Job Title: <input class="form-control" type ="text" name = "job_title" style='width: 100%;' value='{{aresult["job_title"]}}' /></p>
         <p>User Name: <input class="form-control" type ="text" name = "user_name" style='width: 100%;' value='{{aresult["user_name"]}}' /></p>
         <p>Contact: <input class="form-control" type ="text" name = "contact" style='width: 100%;' value='{{aresult["contact"]}}' /></p>
         <p>Location: <input class="form-control" type ="text" name = "location" style='width: 100%;' value='{{aresult["location"]}}' /></p>
         <input type ="hidden" name = "old_first_name" value='{{aresult["first_name"]}}' />
         <input type ="hidden" name = "old_last_name" value='{{aresult["last_name"]}}' />

         {% endfor %}

         <br>

         <p><input class="btn-primary" type = "submit" value = "Update Data" /></p>
        </form>
        {{ msg }}
        </div>
{% endblock %}